* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    /* background-color: red; */
    height: 500px;
    border-bottom: 1px solid #000;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu > a {
    text-decoration: none;
    color: #000;
    padding: 0 15px;;
}

.title {
    text-align: center;
    position: relative;
    top: 30%;
}

.main {
    display: flex;
}

.inner-container {
    flex: 1 1 0;
    border: 1px solid #000;
}

.gap {
    flex: 1 1 0;
    padding: 40px;
}

.cols {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%!important;
}

.testimoni {
    min-height: 400px;
    /* padding: 40px; */
}

.card {
    display: flex;
    /* height: 300px; */
    padding: 40px;
}

.card-items {
    flex: 1 1 0;
    padding: 30px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 20px;
}


.testi-name {
    margin-top: 10px;
    color: #b9b9b9;
}

footer {
    text-align: center;
    padding: 20px;
}


.content {
    padding: 5em;
    text-align: justify;
}